.post {
  margin-bottom: 50px;
  padding-bottom: 45px;

  font-family: $font-main;

  background: $white;

  @include col-xs-24;

  &__image {
    @include col-xs-24;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    &__date {
      margin-top: 15px;

      color: $edward;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;

      @include col-xs-24;
    }
    &__title {
      margin: 45px 0;

      font-size: 52px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;

      @include col-xs-24;
    }
  }

  &__content {
    font-size: 19px;
    line-height: 27px;

    @include col-xs-22;
    @include col-xs-offset-1;
  }

  &__read-more {
    margin-top: 15px;

    text-align: center;
  }
  
  &__footer {
    margin-top: 50px;
    
    @include col-xs-20;
    @include col-xs-offset-2; 
    
    &__item {
      position: relative;
      
      padding: 8px 0;
      
      color: $dusty-gray;
      
      &.--author:before {
        position: absolute;
        top: 5px;
        left: -25px;
        
        width: 10px;
        height: 10px;
        
        background: red;
        
        content: "";
      }
      
      &.--date:before {
        position: absolute;
        top: 5px;
        left: -25px;
        
        width: 10px;
        height: 10px;
        
        background: green;
        
        content: "";
      }
      
      &.--tags:before {
        position: absolute;
        top: 5px;
        left: -25px;
        
        width: 10px;
        height: 10px;
        
        background: blue;
        
        content: "";
      }
    }
  }
}
