@font-face {
  font-family: Arimo;
  font-style: italic;
  font-weight: 400;
  src: local("Arimo Italic"),local(Arimo-Italic),url(//fonts.gstatic.com/s/arimo/v9/thDv13z50gThh9VG9EA2iA.eot?#) format("eot"),url(//fonts.gstatic.com/s/arimo/v9/GYkAnzJvKnl5kOgLY6RO-w.woff2) format("woff2"),url(//fonts.gstatic.com/s/arimo/v9/8ezAIdgyp-Cm5_X7mWzP_g.woff) format("woff");
}

@font-face {
  font-family: Arimo;
  font-style: italic;
  font-weight: 700;
  src: local("Arimo Bold Italic"),local(Arimo-BoldItalic),url(//fonts.gstatic.com/s/arimo/v9/_K7sg-ijHdmkwPzV9FiqaFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/arimo/v9/_K7sg-ijHdmkwPzV9FiqaPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/arimo/v9/_K7sg-ijHdmkwPzV9FiqaBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  font-weight: 400;
  src: local(Arimo),url(//fonts.gstatic.com/s/arimo/v9/kJziZB9mN1Zz67hE4Xj10w.eot?#) format("eot"),url(//fonts.gstatic.com/s/arimo/v9/HNu4Nzh6q8Es60EMNZhs9w.woff2) format("woff2"),url(//fonts.gstatic.com/s/arimo/v9/wZLYhRRxZWGToTRP78bqJQ.woff) format("woff");
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  font-weight: 700;
  src: local("Arimo Bold"),local(Arimo-Bold),url(//fonts.gstatic.com/s/arimo/v9/5Pu1hU3bOP0NyOZx3DCeVvesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/arimo/v9/27rE5lMk9EHpLbxiIuGd0PesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/arimo/v9/UnXpojilM3XslYxUnWuVe_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

.___col-common,
.top-navigation,
.main-content,
.main-content__header,
.main-content__header__big,
.main-content__header__small,
.main-content__posts,
.post,
.post__image,
.post__header__date,
.post__header__title,
.post__content,
.main-footer__sections,
.main-footer__section,
.main-footer__copyright,
.main-footer__copyright__block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.outer-container {
  margin-right: auto;
  margin-left: auto;
}

.inner-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .inner-container {
    width: 682px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .inner-container {
    width: 1178px;
  }
}

@media (min-width: 1440px) {
  .inner-container {
    width: 1170px;
  }
}

.top-navigation {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.top-navigation__container {
  min-height: 6vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #272d33;
}

.top-navigation__item a {
  font-family: "Arimo", sans-serif;
  color: #a9abad;
  font-weight: bold;
}

.top-navigation__item .--active-link {
  color: #ffffff !important;
}

@-webkit-keyframes contentHeader {
  from {
    opacity: 0;
    top: 80px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes contentHeader {
  from {
    opacity: 0;
    top: 80px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes contentPost {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentPost {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-content__container {
  min-height: 94vh;
  background: #323a41;
}

.main-content__header {
  position: relative;
  margin: 70px 0;
  height: 150px;
  font-family: "Arimo", sans-serif;
  opacity: 0;
  -webkit-animation: contentHeader ease-in 1;
  animation: contentHeader ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-content__header__big {
  margin-bottom: 20px;
  font-size: 46px;
  text-align: center;
  color: #ffffff;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-content__header__small {
  font-size: 15px;
  text-align: center;
  color: #a9abad;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-content__posts {
  position: relative;
  opacity: 0;
  -webkit-animation: contentPost ease-in 1;
  animation: contentPost ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-content__read-more {
  margin-top: 15px;
  text-align: center;
}

.post {
  margin-bottom: 50px;
  padding-bottom: 45px;
  font-family: "Arimo", sans-serif;
  background: #ffffff;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.post__image {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.post__image img {
  width: 100%;
  height: 100%;
}

.post__header__date {
  margin-top: 15px;
  color: #b0b1b1;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.post__header__title {
  margin: 45px 0;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.post__content {
  font-size: 19px;
  line-height: 27px;
  -webkit-flex-basis: 91.66666667%;
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
  margin-left: 4.16666667%;
}

.post__read-more {
  margin-top: 15px;
  text-align: center;
}

.main-footer__container {
  min-height: 6vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #272d33;
}

.main-footer__sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-footer__section {
  color: white;
  text-align: center;
  -webkit-flex-basis: 33.33333333%;
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.main-footer__section:first-of-type {
  text-align: left;
}

.main-footer__section ~ div:last-of-type {
  text-align: right;
}

.main-footer__section__header {
  padding: 40px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.main-footer__section__content__list {
  margin: 0;
  list-style: none;
  text-align: left;
}

.main-footer__section__content__list li {
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 1px dotted #444D52;
}

.main-footer__section__content__list li:first-child {
  padding-top: 0;
}

.main-footer__section__content__list li:last-child {
  border-bottom: 0;
}

.main-footer__copyright {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.main-footer__copyright__block {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.main-footer .--text-section {
  text-align: left;
}

.main-footer .--links {
  text-align: right;
}