.footer-container {
  min-height: 6vh;
  display: flex;

  background: $footer-color;
}

.footer {
  padding: 70px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__section {
  color: white;
  text-align: center;

  @include col-xs-8;
}

.footer__section__header {
  color: $footer-section-header-color;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.footer__section__content--text-section {
  text-align: left;
}

.footer__section__content__list {
  margin: 0;

  list-style: none;
  text-align: left;
}

.footer__section__content__list li {
  margin: 0;
  padding: 10px 0;

  text-decoration: none;

  border-bottom: 1px dotted #444D52;
}

.footer__section__content__list li:last-child {
  border-bottom: 0;
}


.footer__copyright {
  margin-top: 30px;

  display: flex;

  color: white;

  @include col-xs-24;
}

.footer__copyright__block {

  @include col-xs-12;
}

.footer__copyright__block--links {
  text-align: right;
}
