.navigation-container {
  min-height: 6vh;
  display: flex;

  background: $shark;
}

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include col-xs-24;
}

.nav-bar a {
  font-family: $font-main;
  color: $boombay;
  font-weight: bold;
}

.nav-bar--active-link {
  color: $white !important;
}
