//Devices
$device-sm: 700px;
$device-md: 1200px;
$device-lg: 1440px;

//Colors
$white: #ffffff; // white
$boombay: #a9abad; // light gray,
$shark: #272d33; // dark gray
$outer-space: #323a41; // middle gray
$edward: #b0b1b1; // light gray
$dusty-gray: #999999; // middle gray
$slate-gray: #77838F; // darker gray


//Fonts
$font-main: 'Arimo', sans-serif;
